{{- $style := resources.Get "sass/main.scss" | resources.ToCSS -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />
    <!-- <link rel="stylesheet" href="/css/all.icons.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@adereksisusanto/icons@1.0.6/dist/css/all.icons.min.css" />
  </head>
  <body>
    <div class="container">
      {{- partial "header.html" . -}}

      <main>
        {{- block "main" . -}}{{- end -}}
      </main>

      <footer>
        {{ .Site.Params.footer | safeHTML }}
      </footer>
    </div>
    <script>
      function externalLinks() {
        for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
          var b = c[a];
          b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
        }
      }
      ;
      externalLinks();
    </script>
  </body>
</html>
